#background-video {
/*    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
    background: #000000; */
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:-10;
}
#desktop {
    /*display: block;*/
    /*position: fixed;*/
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background: url(./bg.png) no-repeat bottom right;
    background-size: auto;
    overflow-x: hidden;
    overflow: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 500;
}
